            <!-- Navigation panel -->

            <nav class="main-nav dark transparent stick-fixed">

                <div class="full-wrapper relative clearfix">
                    <!-- Logo ( * your text or image into link tag *) -->
                    <div class="nav-logo-wrap local-scroll">
                        <a href="#top" class="logo">
                            <img src="{{ site.url }}images/logo-white.png" alt="" />
                        </a>
                    </div>
                    <div class="mobile-nav">
                        <i class="fa fa-bars"></i>
                    </div>
                    <!-- Main Menu -->
                    <div class="inner-nav desktop-nav">
                        <ul class="clearlist scroll-nav local-scroll">
                        	{% for link in site.data.navigation %}
                        		{% assign class = "" %}
                        		{% if link.highlight %}
                        			{% assign class = class | append: " highlight" %}
                        		{% endif %}
                        
                        		{% if link.link == page.url %}
                        			{% assign class = class | append: " active" %}
                        		{% endif %}
                        		<li><a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %} title="{{ link.title }}">{{ link.name }}</a></li>
                        	{% endfor %}
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navigation panel -->