/*Cloud Cannon*/
.editor-link {display: none;margin-top: 0;padding-top: 30px;}
/*posts css*/
.text-container {max-width: 750px; margin: 0 auto; position: relative; padding: 0 20px;}
.blog-post .post-details { border-bottom: 1px solid #eee; font-size: .9em; margin: 0; padding: 40px 0 0 0;}