@charset "utf-8";
/*------------------------------------------------------------------
[Responsive Stylesheet]

Project:    Rhythm
Version:    2.5
Last change:    30.03.2016
Primary use:    MultiPurpose Template  
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Table of contents]

1. Small desktop
2. Tablet landskape
3. Tablet Portrait
4. Phone
5. Small Phone
6. Max Height 768
-------------------------------------------------------------------*/


/* ==============================
   Small desktop
   ============================== */

@media only screen and (max-width: 1366px) {.inner-nav ul li {
        margin-left: 25px;
    }}  

@media only screen and (max-width: 1200px) {
    .hs-line-1 {
        letter-spacing: 40px;
    }}
@media only screen and (max-width: 1199px) {.tpl-alt-tabs{
        font-size: 13px;
        letter-spacing: 0.2em;
    }
    .tpl-alt-tabs > li{
        width: 170px;
    }}

/* ==============================
   Tablet landskape
   ============================== */

@media only screen and (max-width: 1024px) {
    
    .hs-line-1 {
        letter-spacing: 30px;
    }

    .page-section{
        padding: 120px 0;
        
    }
    .page-section, .home-section, .small-section{
        background-attachment: scroll;
    }}
  
@media only screen and (max-width: 992px) {.hs-line-1 {
        letter-spacing: 23px;
    }
    
    .tpl-alt-tabs > li{
        width: 200px;
    } 
    
    .banner-image {
        margin: 40px 0;
    }}
  
  
/* ==============================
   Tablet Portrait
   ============================== */
  
@media only screen and (max-width: 768px) {
	
	.page-section {
        padding: 80px 0;
    }	
    .small-section {
        padding: 50px 0;
    }
    .small-title{
        font-size: 18px;
    }}

@media only screen and (max-width: 767px) {
    .hs-line-1 {
        font-size: 24px;
    }
    .hs-line-6{
        font-size: 16px;
    } 
    
    blockquote p {
        font-size: 20px;
    }
    
    blockquote footer {
        margin-top: 0;
        font-size: 12px;
    }   

    .banner-content {
        text-align: center;
    } 
    .banner-image {
        text-align: center;
    }}


/* ==============================
   Phone
   ============================== */
  
@media only screen and (max-width: 480px) {
	.hs-line-1 {
        font-size: 20px;
        letter-spacing: 18px;
    }
    .hs-line-6 {
        font-size: 15px;
    }
   
   .scroll-down {
        bottom: 10px;
		height: 34px;
		line-height: 34px;
    }
    .scroll-down-icon {
        width: 22px;
        margin-left: -11px;
    }
	
	
	.page-section {
        padding: 60px 0;
    }
    .small-section {
        padding: 30px 0;
    }
	
    .section-title {
        font-size: 24px;
		letter-spacing: 2px;
    } 
	.section-text {
        font-size: 15px;
        line-height: 1.7;
    }
    .tpl-alt-tabs{
        font-size: 12px;
        letter-spacing: 0.1em;
    }
    .tpl-alt-tabs > li{
        width: 120px;
    }
    .alt-tabs-icon{
        font-size: 32px;
    }
	
	.section-text {
		line-height: 1.7;
	}}


/* ==============================
   Small Phone
   ============================== */
  



/* ==============================
   Max Height 768
   ============================== */




/* ==============================
   IOS Background Fix
   ============================== */